--- 
--- 
<div class="relative flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-md border-gray-300 bg-gray-50 hover:bg-gray-100 transition-all">
  <label
    for="file-upload"
    class="flex flex-col items-center justify-center w-full h-full cursor-pointer"
  >
    <svg
      class="w-12 h-12 text-gray-400"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 16l-4-4m0 0l4-4m-4 4h18M13 16l4-4m0 0l-4-4m4 4H3"
      />
    </svg>
    <span class="mt-2 text-sm font-medium text-gray-600">Upload an image</span>
  </label>
  <input id="file-upload" name="file" type="file" class="hidden" />
</div>
